<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          <img class="img-album" src="{{ "public/album-art.jpg" | relative_url }}" alt="{{ site.title }}">
          <span class="sr-only">{{ site.title }}</span>
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.url }}">Home</a>

      {% assign pages_list = site.pages %}
      {%- for node in pages_list -%}
        {%- if node.title != null -%}
          {%- if node.layout == "page" or node.layout == "about" -%}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}

      <i class="sidebar-nav-item">Currently: Season {{ site.season }}</i>
    </nav>

    <nav class="sidebar-nav-icons">
      <a href="https://itunes.apple.com/us/podcast/life-in-white-noise/id1350447479?mt=2" title="Listen on iTunes">
        <i data-feather="radio" aria-hidden="true"></i>
        <span class="sr-only">Listen on iTunes</span>
      </a>

      <a href="https://rss.simplecast.com/podcasts/4553/rss" title="Subscribe via RSS">
        <i data-feather="rss" aria-hidden="true"></i>
        <span class="sr-only">Subscribe via RSS</span>
      </a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
