{% if page.title == "Home" %}
  {% capture page_title %}
    {{ site.data.seo['site_title'] }} &middot; {{ site.data.seo['tagline'] }}{% endcapture %}
{% else %}
  {% capture page_title %}
    {{ page.title }} &middot; {{ site.data.seo['site_title'] }}{% endcapture %}
{% endif %}

{% capture page_url %}{{ site.url }}{{ page.url | prepend: site.baseurl }}{% endcapture %}
{% capture site_title %}{{ site.data.seo['site_title'] }}{% endcapture %}
{% capture site_description %}{{ site.data.seo['site_description'] }}{% endcapture %}
{% capture twitter_image %}
  {{ site.data.seo['twitter_image'] | prepend: site.baseurl | prepend: site.url }}{% endcapture %}
{% capture facebook_image %}
  {{ site.data.seo['facebook_image'] | prepend: site.baseurl | prepend: site.url }}{% endcapture %}


<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{ site.username.twitter }}">
<meta name="twitter:domain" content="{{ site.url }}">
<meta name="twitter:creator" content="{{ site.username.twitter }}">
<meta name="twitter:title" content="{{ page_title }}">
<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site_description }}{% endif %}">
<meta name="twitter:image" content="{{ twitter_image }}">

<meta property="og:locale" content="en_US">
<meta property="og:type" content="article" />
<meta property="og:site_name" content="{{ site_title }}">
<meta property="og:url" content="{{ page_url }}" />
<meta property="og:title" content="{{ page_title }}" />
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ seo.site_description }}{% endif %}" />
<meta property="og:image" content="{{ facebook_image }}" />
