{% if page.title == "Home" %}
  {% capture page_title %}{{ site.title }} &middot; {{ site.tagline }}{% endcapture %}
{% else %}
  {% capture page_title %}{{ page.title }} &middot; {{ site.title }}{% endcapture %}
{% endif %}

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{ site.username.twitter }}">
<meta name="twitter:domain" content="{{ site.url }}">
<meta name="twitter:creator" content="{{ site.username.twitter }}">
<meta name="twitter:title" content="{{ page_title }}">
<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:image" content="{% if page.album_image %}{{ page.album_image | prepend: site.baseurl | prepend: site.url }}{% else %}{{ "/public/album-art.jpg" | prepend: site.baseurl | prepend: site.url }}{% endif %}">

<meta property="og:type" content="article" />
<meta property="og:url" content="{{ site.url }}{{ page.url | prepend: site.baseurl }}" />
<meta property="og:title" content="{{ page_title }}" />
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
<meta property="og:image" content="{% if page.album_image %}{{ page.album_image | prepend: site.baseurl | prepend: site.url }}{% else %}{{ "/public/album-art.jpg" | prepend: site.baseurl | prepend: site.url }}{% endif %}" />
<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="{{ site.title | escape }}">
