.plyr {
  // background: linear-gradient(to right, #2e1b46, #ba2454);
  // border-radius: 10px;
  // box-shadow: 0 6px 20px rgba(0,0,0,0.3)
}
.plyr--audio .plyr__controls {
  background: transparent;
  padding: 1rem;
}
.plyr--full-ui input[type=range] {
  color: #ba2454;
}

.plyr__time {
  color: #ba2454;
}

.plyr--audio {
  .plyr__control,
  .plyr__control[aria-expanded=true] {
    background: transparent;
    svg {
      fill: #ba2454;
      &.icon {
        &--pressed,
        &--not-pressed {
          fill: #ba2454;
        }
      }
    }
    &:hover {
      color: #ba2454;
      background: rgba($link-color, 0.4);
    }
  }
}
.plyr__menu__container {
  label.plyr__control {
    font-size: 0.8em;
    input[type=radio]:checked+span {
      background: #ba2454;
    }
  }
}
