// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.page,
.post {
  margin-bottom: 4em;

  li + li {
    margin-top: .25rem;
  }
}

// Blog post or page title
.page-title,
.post-title,
.post-title a {
  color: #303030;
}
.page-title,
.post-title {
  margin-top: 0;
}

// Meta data line below post title
.post-date,
.post-date a {
  display: inline-flex;
  align-items: center;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  color: #9a9a9a;
  font-size: 0.9rem;
  text-decoration: none;
  svg {
    margin-right: 5px;
  }
}


// Related posts
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.related-posts {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;

  h3 {
    font-size: 1rem;
    margin-top: 0;
  }

  li {
    small {
      font-size: 75%;
      color: #999;
    }

    a:hover {
      text-decoration-color: $link-color;
      text-decoration: underline;

      small {
        color: inherit;
      }
    }
  }
}

.featured {
  border-radius: $border-radius;
  box-shadow: $shadows;
  .body {
    padding: 1.5rem;
    color: #FFF;
    background: linear-gradient(to top right, #ab0033, #ff9e6d);
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
  .post-title a {
    color: #FFF;
  }
  .post-date {
    color: rgba(255,255,255,0.8);
  }
}
