<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script src="https://cdn.plyr.io/3.0.11/plyr.js"></script>
    <script>
      const players = Array.from(document.querySelectorAll('.js-player')).map(player => new Plyr(player, {settings: []}));
      feather.replace();
    </script>
  </body>
</html>
