---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="meta">
    <span class="post-date"><i data-feather="calendar" aria-hidden="true"></i>{{ page.date | date_to_string }}</span>
    <span class="post-date"><i data-feather="watch" aria-hidden="true"></i>{{ page.duration }}</span>
    {%- if page.audio != '' -%}
      <span class="post-date">
        <a href="{{ page.audio }}" title="Download audio"><i data-feather="download-cloud"></i>Download</a>
      </span>
    {%- endif %}
  </div>
  {%- if page.audio != '' -%}
    <audio class="js-player" controls>
      <source src="{{ page.audio }}" type="audio/mpeg">
    </audio>
  {%- endif -%}
  {{ content }}
</div>

<div class="related">
  <h2>Related Episodes</h2>
  <ul class="related-posts">
    {%- for post in site.related_posts limit:3 -%}
      <li>
        <a href="{{ post.url }}">
        <img class="img-album small" src="{{ post.album_image }}" alt="{{ post.title }}">
        <h3>{{ post.title }}</h3>
        </a>
        <small>{{ post.date | date_to_string }}</small>
      </li>
    {%- endfor -%}
  </ul>
</div>
